---
import SectionAbout from './section-about.astro';
import SectionBuyCoffee from './section-buy-coffee.astro';
import SectionSupportersList from './section-supporters-list.astro';
import SectionMiniShop from './section-mini-shop.astro';
import SectionLatestPost from './section-latest-post.astro';
import SectionExclusiveContent from './section-exclusive-content.astro';
import SectionTutorial from './section-tutorial.astro';
import SectionCommunitySupport from './section-community-support.astro';
import SectionDigitalGoodies from './section-digital-goodies.astro';
import SectionOneToOneChat from './section-one-to-one-chat.astro';
import SectionHireForBusiness from './section-hire-for-business.astro';

import { LL } from '@utils/i18n';
---

<section class="py-24">
	<h2
		class="mx-auto max-w-2xl text-center text-3xl leading-tight font-semibold tracking-tight md:text-4xl"
	>
		{LL.landingPage.customizedUserProfile.title()}
	</h2>
	<p class="text-muted-foreground mx-auto mt-4 max-w-3xl text-center text-lg leading-relaxed">
		{LL.landingPage.customizedUserProfile.subtitle()}
	</p>

	<!-- {/* Rope elements */} -->
	<div class="mt-10 mb-6 flex justify-center">
		<div class="bg-border mx-4 h-16 w-px"></div>
		<div class="bg-border mx-4 h-24 w-px"></div>
		<div class="bg-border mx-4 h-20 w-px"></div>
		<div class="bg-border mx-4 h-28 w-px"></div>
	</div>

	<div class="bg-muted/20 w-full overflow-hidden rounded-2xl border pb-12">
		<!-- {/* Cover photo and profile section */} -->
		<div
			class="from-primary/10 via-secondary/15 relative mb-16 h-48 w-full bg-linear-to-r to-transparent md:h-64"
		>
			<div class="container mx-auto px-4">
				<div class="absolute -bottom-9 left-4 flex gap-4 md:left-8">
					<div
						class="bg-muted border-background relative h-24 w-24 overflow-hidden rounded-full border-4 md:h-32 md:w-32"
					>
					</div>
				</div>
			</div>
		</div>

		<!-- {/* Bento grid container */} -->
		<div
			class="relative mx-auto grid max-w-5xl grid-flow-dense grid-cols-1 gap-4 px-4 md:grid-cols-4 lg:grid-cols-6"
		>
			<SectionAbout />
			<SectionBuyCoffee />
			<SectionSupportersList />
			<SectionMiniShop />
			<SectionLatestPost />
			<SectionExclusiveContent />
			<SectionTutorial />
			<SectionCommunitySupport />
			<SectionDigitalGoodies />
			<SectionOneToOneChat />
			<SectionHireForBusiness />
		</div>
	</div>
</section>
