---
import { Coffee } from 'lucide-astro';
---

<div
	class="flex h-full flex-col rounded-xl border border-slate-100 bg-white p-6 md:col-span-2 lg:col-span-3"
>
	<div class="mb-4 flex items-center">
		<Coffee class="mr-2 h-5 w-5 text-primary" />
		<h3 class="font-medium text-slate-800">হবে নাকি Coffee? 😊</h3>
	</div>
	<p class="mb-4 text-sm text-slate-600">
		আপনার প্রিয় ক্রিয়েটরকে ভার্চুয়াল কফির মাধ্যমে সমর্থন করুন, যাতে তারা আরও সুন্দর ও সৃজনশীল কাজ
		চালিয়ে যেতে পারে! ☕✨
	</p>

	<div class="mb-4 rounded-lg bg-primary/5 p-4 text-primary">
		<p class="mb-2 text-sm font-medium">কয়টা কফি কিনে দিতে চাচ্ছেন?</p>
		<div class="flex flex-wrap items-center gap-3">
			<div class="flex flex-col items-center">
				<div class="mb-1 flex items-center justify-center rounded-xl bg-white p-2">
					<Coffee class="h-5 w-5" />
				</div>
				<span class="text-xs font-medium">৳১০ </span>
			</div>
			<div class="flex flex-col items-center">
				<div class="mb-1 flex items-center justify-center rounded-xl bg-white p-2">
					<div class="flex">
						<Coffee class="h-5 w-5" />
						<Coffee class="-ml-2 h-5 w-5" />
					</div>
				</div>
				<span class="text-xs font-medium">৳20</span>
			</div>
			<div class="flex flex-col items-center">
				<div class="mb-1 flex items-center justify-center rounded-xl bg-white p-2">
					<div class="flex">
						<Coffee class="h-5 w-5" />
						<Coffee class="-ml-2 h-5 w-5" />
						<Coffee class="-ml-2 h-5 w-5" />
					</div>
				</div>
				<span class="text-xs font-medium">৳৩০</span>
			</div>
			<div class="flex flex-col items-center">
				<div class="mb-1 flex items-center justify-center rounded-xl bg-white p-2">
					<div class="flex">
						<Coffee class="h-5 w-5" />
						<Coffee class="-ml-2 h-5 w-5" />
						<Coffee class="-ml-2 h-5 w-5" />
						<Coffee class="-ml-2 h-5 w-5" />
						<Coffee class="-ml-2 h-5 w-5" />
					</div>
				</div>
				<span class="text-xs font-medium">৳৪০</span>
			</div>
			<div class="flex flex-col items-center">
				<div
					class="mb-1 flex h-9 w-20 items-center justify-center rounded-xl bg-white p-2 font-semibold"
				>
				</div>
				<span class="text-xs font-medium">অন্যান্য</span>
			</div>
		</div>
	</div>

	<div class="mt-auto">
		<div
			class="inline-flex items-center justify-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-white"
		>
			কফি দিয়ে সাপোর্ট করুন
		</div>
	</div>
</div>
