---
import { Coffee, Gift, Heart } from 'lucide-astro';
---

<div
	class="flex h-full flex-col rounded-xl border border-slate-100 bg-white p-6 md:col-span-2 lg:col-span-2"
>
	<div class="mb-4 flex items-center">
		<Heart class="mr-2 h-5 w-5 text-red-500" />
		<h3 class="font-medium text-slate-800">সর্বোচ্চ সহযোগীরা</h3>
	</div>
	<ul class="mb-8 flex flex-col gap-y-3">
		<li class="flex items-center justify-between">
			<div class="flex items-center">
				<div class="mr-2 flex h-8 w-8 items-center justify-center rounded-full bg-blue-100">
					<span class="text-xs font-medium text-blue-700">TA</span>
				</div>
				<span class="text-sm text-slate-700">তানভীর আলম</span>
			</div>
			<div class="flex items-center">
				<Coffee class="mr-1 h-4 w-4 text-amber-500" />
				<span class="text-sm font-medium text-slate-700">২৫</span>
			</div>
		</li>
		<li class="flex items-center justify-between">
			<div class="flex items-center">
				<div class="mr-2 flex h-8 w-8 items-center justify-center rounded-full bg-green-100">
					<span class="text-xs font-medium text-green-700">TK</span>
				</div>
				<span class="text-sm text-slate-700">তনিমা খাতুন</span>
			</div>
			<div class="flex items-center">
				<span class="mr-1 text-sm font-medium text-slate-700">৳</span>
				<span class="text-sm font-medium text-slate-700">৪২৩২</span>
			</div>
		</li>
		<li class="flex items-center justify-between">
			<div class="flex items-center">
				<div class="mr-2 flex h-8 w-8 items-center justify-center rounded-full bg-purple-100">
					<span class="text-xs font-medium text-purple-700">OB</span>
				</div>
				<span class="text-sm text-slate-700">ঐশী বর্মণ</span>
			</div>
			<div class="flex items-center">
				<Gift class="mr-1 h-4 w-4 text-red-500" />
				<span class="text-sm font-medium text-slate-700">১২</span>
			</div>
		</li>
	</ul>
	<div class="mt-auto">
		<div class="text-sm font-medium text-indigo-600">সকল সহযোগীদের দেখুন →</div>
	</div>
</div>
