---
import { FileText } from 'lucide-astro';
---

<div class="bg-card flex h-full flex-col rounded-2xl border p-6 md:col-span-2">
	<div class="mb-4 flex items-center">
		<FileText class="text-primary mr-2 h-5 w-5" />
		<h3 class="font-medium">সাম্প্রতিক পোস্টসমূহ</h3>
	</div>
	<ul class="mb-8 flex flex-col gap-y-2 text-sm">
		<li class="border-b pb-2">
			<div>মিনিমাল ইলাস্ট্রেশন তৈরি করা</div>
			<p class="text-muted-foreground text-xs">২ দিন আগে</p>
		</li>
		<li class="border-b pb-2">
			<div>আমার সৃজনশীল প্রক্রিয়া</div>
			<p class="text-muted-foreground text-xs">১ সপ্তাহ আগে</p>
		</li>
		<li>
			<div>রঙের থিওরির মৌলিক বিষয়গুলো</div>
			<p class="text-muted-foreground text-xs">২ সপ্তাহ আগে</p>
		</li>
	</ul>
	<div class="mt-auto">
		<div class="text-primary text-xs font-semibold">সব পোস্ট দেখুন →</div>
	</div>
</div>
