---
import { Coffee, Gift, Heart } from 'lucide-astro';
---

<div class="bg-card flex h-full flex-col rounded-2xl border p-6 md:col-span-2 lg:col-span-2">
	<div class="mb-4 flex items-center">
		<Heart class="text-primary mr-2 h-5 w-5" />
		<h3 class="font-medium">সর্বোচ্চ সহযোগীরা</h3>
	</div>
	<ul class="mb-8 flex flex-col gap-y-3">
		<li class="flex items-center justify-between">
			<div class="flex items-center">
				<div
					class="bg-muted text-foreground mr-2 flex h-8 w-8 items-center justify-center rounded-full border"
				>
					<span class="text-xs font-semibold">TA</span>
				</div>
				<span class="text-sm">তানভীর আলম</span>
			</div>
			<div class="flex items-center">
				<Coffee class="text-primary mr-1 h-4 w-4" />
				<span class="text-sm font-semibold">২৫</span>
			</div>
		</li>
		<li class="flex items-center justify-between">
			<div class="flex items-center">
				<div
					class="bg-muted text-foreground mr-2 flex h-8 w-8 items-center justify-center rounded-full border"
				>
					<span class="text-xs font-semibold">TK</span>
				</div>
				<span class="text-sm">তনিমা খাতুন</span>
			</div>
			<div class="flex items-center">
				<span class="mr-1 text-sm font-semibold">৳</span>
				<span class="text-sm font-semibold">৪২৩২</span>
			</div>
		</li>
		<li class="flex items-center justify-between">
			<div class="flex items-center">
				<div
					class="bg-muted text-foreground mr-2 flex h-8 w-8 items-center justify-center rounded-full border"
				>
					<span class="text-xs font-semibold">OB</span>
				</div>
				<span class="text-sm">ঐশী বর্মণ</span>
			</div>
			<div class="flex items-center">
				<Gift class="text-primary mr-1 h-4 w-4" />
				<span class="text-sm font-semibold">১২</span>
			</div>
		</li>
	</ul>
	<div class="mt-auto">
		<div class="text-primary text-sm font-semibold">সকল সহযোগীদের দেখুন →</div>
	</div>
</div>
