SITE="http://localhost:4321"

PUBLIC_SIGN_UP_PAGE_URL="http://app.hobenakicoffee.com/sign-up"
PUBLIC_SIGN_IN_PAGE_URL="http://app.hobenakicoffee.com/sign-in"

GTM_ID=
CLARITY_ID=

PLUNK_SECRET_KEY="xxxxxxxxxxxxxxxxx"
PLUNK_API_URL="https://admin-mails.hobenakicoffee.com/api"

UNLEASH_API_KEY="xxxxxxxxxxxxxxxxx"
