SITE="http://localhost:4321"

PUBLIC_SIGN_UP_PAGE_URL="http://app.hobenakicoffee.com/sign-up"
PUBLIC_SIGN_IN_PAGE_URL="http://app.hobenakicoffee.com/sign-in"

GTM_ID=

RESEND_API_KEY="xxxxxxxxxxxxxxxxx"
CONTACT_ME_EMAIL="xxxxxxxxxxxxxxxx"
