# Benchmark artifacts
benchmark/projects/
benchmark/results/

# Deep Directories
**/dist
**/smoke
**/node_modules
**/fixtures
**/vendor
**/.vercel

# Directories
.github
.changeset
src/i18n
!src/i18n/en
!src/i18n/bn

# Files
pnpm-lock.yaml

# i18n
src/i18n/i18n-types.ts
src/i18n/i18n-util.async.ts
src/i18n/i18n-util.sync.ts
src/i18n/i18n-util.ts
