<div>
	<h1>গোপনীয়তা নীতি</h1>

	<p>কার্যকর তারিখ: ২০২৫-০২-০৯</p>

	<p>১. <b>ভূমিকা</b></p>

	<p><b>ShamsCorner LLC</b> এ আপনাকে স্বাগতম।</p>

	<p>
		<b>ShamsCorner LLC</b> (“আমরা”, “আমাদের”, বা “আমাদের”) <b>https://hobenakicoffee.com</b> পরিচালনা
		করে (এখানে
		<b>“সেবা”</b> হিসাবে উল্লেখ করা হয়েছে)।
	</p>

	<p>
		আমাদের গোপনীয়তা নীতি আপনার <b>https://hobenakicoffee.com</b> পরিদর্শন নিয়ন্ত্রণ করে এবং ব্যাখ্যা
		করে কিভাবে আমরা আপনার সেবা ব্যবহারের ফলে তথ্য সংগ্রহ, সুরক্ষা এবং প্রকাশ করি।
	</p>

	<p>
		আমরা আপনার ডেটা সেবা প্রদান এবং উন্নত করতে ব্যবহার করি। সেবা ব্যবহার করে, আপনি এই নীতির সাথে
		সম্মত হন তথ্য সংগ্রহ এবং ব্যবহারে। যদি না এই গোপনীয়তা নীতিতে অন্যথায় সংজ্ঞায়িত করা হয়, এই
		গোপনীয়তা নীতিতে ব্যবহৃত শর্তাবলী আমাদের শর্তাবলীর মতোই অর্থ বহন করে।
	</p>

	<p>
		আমাদের শর্তাবলী (<b>“শর্তাবলী”</b>) আমাদের সেবার সমস্ত ব্যবহার নিয়ন্ত্রণ করে এবং গোপনীয়তা
		নীতির সাথে একত্রে আপনার সাথে আমাদের চুক্তি (<b>“চুক্তি”</b>) গঠন করে।
	</p>

	<p>২. <b>সংজ্ঞা</b></p>

	<p><b>সেবা</b> মানে ShamsCorner LLC দ্বারা পরিচালিত https://hobenakicoffee.com ওয়েবসাইট।</p>

	<p>
		<b>ব্যক্তিগত ডেটা</b> মানে জীবিত ব্যক্তির সম্পর্কে ডেটা যা সেই ডেটা থেকে (বা আমাদের দখলে থাকা বা
		আসার সম্ভাবনা থাকা অন্যান্য তথ্য থেকে) চিহ্নিত করা যেতে পারে।
	</p>

	<p>
		<b>ব্যবহার ডেটা</b> হল স্বয়ংক্রিয়ভাবে সংগৃহীত ডেটা যা সেবা ব্যবহারের মাধ্যমে বা সেবা অবকাঠামো থেকে
		উৎপন্ন হয় (উদাহরণস্বরূপ, একটি পৃষ্ঠার পরিদর্শনের সময়কাল)।
	</p>

	<p><b>কুকিজ</b> হল আপনার ডিভাইসে সংরক্ষিত ছোট ফাইল (কম্পিউটার বা মোবাইল ডিভাইস)।</p>

	<p>
		<b>ডেটা নিয়ন্ত্রক</b> মানে একটি প্রাকৃতিক বা আইনি ব্যক্তি যিনি (এককভাবে বা যৌথভাবে বা সাধারণভাবে
		অন্যান্য ব্যক্তিদের সাথে) যে কোনও ব্যক্তিগত ডেটা প্রক্রিয়াকরণের উদ্দেশ্য এবং পদ্ধতি নির্ধারণ করেন।
		এই গোপনীয়তা নীতির উদ্দেশ্যে, আমরা আপনার ডেটার ডেটা নিয়ন্ত্রক।
	</p>

	<p>
		<b>ডেটা প্রসেসর (বা সেবা প্রদানকারী)</b> মানে যে কোনও প্রাকৃতিক বা আইনি ব্যক্তি যিনি ডেটা নিয়ন্ত্রকের
		পক্ষে ডেটা প্রক্রিয়া করেন। আমরা আপনার ডেটা আরও কার্যকরভাবে প্রক্রিয়া করার জন্য বিভিন্ন সেবা প্রদানকারীর
		সেবা ব্যবহার করতে পারি।
	</p>
	<p><b>ডেটা বিষয়</b> হল যে কোনও জীবিত ব্যক্তি যিনি ব্যক্তিগত ডেটার বিষয়।</p>

	<p>
		<b>ব্যবহারকারী</b> হল আমাদের সেবা ব্যবহারকারী ব্যক্তি। ব্যবহারকারী ডেটা বিষয়ের সাথে মিলে যায়, যিনি
		ব্যক্তিগত ডেটার বিষয়।
	</p>

	<p>৩. <b>তথ্য সংগ্রহ এবং ব্যবহার</b></p>

	<p>
		আমরা বিভিন্ন উদ্দেশ্যে বিভিন্ন ধরনের তথ্য সংগ্রহ করি যাতে আপনাকে আমাদের সেবা প্রদান এবং উন্নত
		করতে পারি।
	</p>

	<p>৪. <b>সংগৃহীত ডেটার ধরন</b></p>

	<p><b>ব্যক্তিগত ডেটা</b></p>

	<p>
		আমাদের সেবা ব্যবহার করার সময়, আমরা আপনাকে কিছু ব্যক্তিগতভাবে চিহ্নিতযোগ্য তথ্য প্রদান করতে বলতে
		পারি যা আপনাকে যোগাযোগ বা চিহ্নিত করতে ব্যবহার করা যেতে পারে (<b>“ব্যক্তিগত ডেটা”</b>)।
		ব্যক্তিগতভাবে চিহ্নিতযোগ্য তথ্য অন্তর্ভুক্ত হতে পারে, কিন্তু এতে সীমাবদ্ধ নয়:
	</p>

	<p>০.১. ইমেল ঠিকানা</p>

	<p>০.২. প্রথম নাম এবং শেষ নাম</p>

	<p>০.৩. ফোন নম্বর</p>

	<p>০.৪. ঠিকানা, দেশ, রাজ্য, প্রদেশ, জিপ/পোস্টাল কোড, শহর</p>

	<p>০.৫. কুকিজ এবং ব্যবহার ডেটা</p>

	<p>
		আমরা আপনার ব্যক্তিগত ডেটা ব্যবহার করতে পারি আপনাকে নিউজলেটার, বিপণন বা প্রচারমূলক উপকরণ এবং
		অন্যান্য তথ্যের সাথে যোগাযোগ করতে যা আপনার আগ্রহের হতে পারে। আপনি আমাদের কাছ থেকে এই ধরনের কোনও
		বা সমস্ত যোগাযোগ গ্রহণ থেকে অপ্ট আউট করতে পারেন আনসাবস্ক্রাইব লিঙ্ক অনুসরণ করে।
	</p>

	<p><b>ব্যবহার ডেটা</b></p>

	<p>
		আমরা আপনার ব্রাউজার যখনই আমাদের সেবা পরিদর্শন করে বা যখন আপনি কোনও ডিভাইসের মাধ্যমে সেবা
		অ্যাক্সেস করেন তখন স্বয়ংক্রিয়ভাবে কিছু তথ্য সংগ্রহ করতে পারি (<b>“ব্যবহার ডেটা”</b>)।
	</p>

	<p>
		এই ব্যবহার ডেটা অন্তর্ভুক্ত হতে পারে যেমন আপনার কম্পিউটারের ইন্টারনেট প্রোটোকল ঠিকানা (যেমন আইপি
		ঠিকানা), ব্রাউজার প্রকার, ব্রাউজার সংস্করণ, আমাদের সেবার পৃষ্ঠাগুলি যা আপনি পরিদর্শন করেন, আপনার
		পরিদর্শনের সময় এবং তারিখ, সেই পৃষ্ঠাগুলিতে ব্যয় করা সময়, অনন্য ডিভাইস শনাক্তকারী এবং অন্যান্য
		ডায়াগনস্টিক ডেটা।
	</p>

	<p>
		যখন আপনি কোনও ডিভাইসের সাথে সেবা অ্যাক্সেস করেন, তখন এই ব্যবহার ডেটা অন্তর্ভুক্ত হতে পারে যেমন
		আপনি যে ডিভাইসটি ব্যবহার করেন, আপনার ডিভাইসের অনন্য আইডি, আপনার ডিভাইসের আইপি ঠিকানা, আপনার
		ডিভাইসের অপারেটিং সিস্টেম, আপনি যে ইন্টারনেট ব্রাউজার ব্যবহার করেন, অনন্য ডিভাইস শনাক্তকারী এবং
		অন্যান্য ডায়াগনস্টিক ডেটা।
	</p>

	<p><b>অবস্থান ডেটা</b></p><p>
		আমরা আপনার অবস্থান সম্পর্কে তথ্য ব্যবহার এবং সংরক্ষণ করতে পারি যদি আপনি আমাদের তা করার অনুমতি
		দেন (<b>“অবস্থান ডেটা”</b>)। আমরা এই ডেটা ব্যবহার করি আমাদের সেবার বৈশিষ্ট্যগুলি প্রদান করতে,
		আমাদের সেবা উন্নত এবং কাস্টমাইজ করতে।
	</p><p>
		আপনি আপনার ডিভাইস সেটিংসের মাধ্যমে যে কোনও সময় আমাদের সেবা ব্যবহার করার সময় অবস্থান
		পরিষেবাগুলি সক্ষম বা অক্ষম করতে পারেন।
	</p>

	<p><b>ট্র্যাকিং কুকিজ ডেটা</b></p>

	<p>
		আমরা কুকিজ এবং অনুরূপ ট্র্যাকিং প্রযুক্তি ব্যবহার করি আমাদের সেবার কার্যকলাপ ট্র্যাক করতে এবং
		আমরা কিছু তথ্য ধারণ করি।
	</p>

	<p>
		কুকিজ হল একটি ছোট পরিমাণ ডেটা সহ ফাইল যা একটি অনন্য শনাক্তকারী অন্তর্ভুক্ত করতে পারে। কুকিজ
		আপনার ব্রাউজার থেকে একটি ওয়েবসাইটে পাঠানো হয় এবং আপনার ডিভাইসে সংরক্ষিত হয়। অন্যান্য
		ট্র্যাকিং প্রযুক্তি যেমন বীকন, ট্যাগ এবং স্ক্রিপ্টও তথ্য সংগ্রহ এবং ট্র্যাক করতে এবং আমাদের সেবা
		উন্নত এবং বিশ্লেষণ করতে ব্যবহৃত হয়।
	</p>

	<p>
		আপনি আপনার ব্রাউজারকে সমস্ত কুকিজ প্রত্যাখ্যান করতে বা একটি কুকি পাঠানো হচ্ছে তা নির্দেশ করতে
		নির্দেশ দিতে পারেন। তবে, আপনি যদি কুকিজ গ্রহণ না করেন, তাহলে আপনি আমাদের সেবার কিছু অংশ ব্যবহার
		করতে সক্ষম নাও হতে পারেন।
	</p>

	<p>আমরা যে কুকিজ ব্যবহার করি তার উদাহরণ:</p>

	<p>০.১. <b>সেশন কুকিজ:</b> আমরা আমাদের সেবা পরিচালনা করতে সেশন কুকিজ ব্যবহার করি।</p>

	<p>
		০.২. <b>পছন্দ কুকিজ:</b> আমরা আপনার পছন্দ এবং বিভিন্ন সেটিংস মনে রাখতে পছন্দ কুকিজ ব্যবহার করি।
	</p>

	<p>০.৩. <b>নিরাপত্তা কুকিজ:</b> আমরা নিরাপত্তার উদ্দেশ্যে নিরাপত্তা কুকিজ ব্যবহার করি।</p>

	<p>
		০.৪. <b>বিজ্ঞাপন কুকিজ:</b> বিজ্ঞাপন কুকিজ আপনাকে এমন বিজ্ঞাপন পরিবেশন করতে ব্যবহৃত হয় যা আপনার
		এবং আপনার আগ্রহের সাথে প্রাসঙ্গিক হতে পারে।
	</p>

	<p><b>অন্যান্য ডেটা</b></p>

	<p>
		আমাদের সেবা ব্যবহার করার সময়, আমরা নিম্নলিখিত তথ্যও সংগ্রহ করতে পারি: লিঙ্গ, বয়স, জন্ম তারিখ,
		জন্মস্থান, পাসপোর্টের বিবরণ, নাগরিকত্ব, নিবন্ধন স্থানে নিবন্ধন এবং প্রকৃত ঠিকানা, টেলিফোন নম্বর
		(কাজ, মোবাইল), শিক্ষার নথির বিবরণ, যোগ্যতা, পেশাদার প্রশিক্ষণ, কর্মসংস্থান চুক্তি, <a
			href="https://policymaker.io/non-disclosure-agreement/">এনডিএ চুক্তি</a
		>, বোনাস এবং ক্ষতিপূরণের তথ্য, বৈবাহিক অবস্থা, পরিবারের সদস্য, সামাজিক নিরাপত্তা (বা অন্যান্য
		করদাতা শনাক্তকারী) নম্বর, অফিসের অবস্থান এবং অন্যান্য ডেটা।
	</p>

	<p>৫. <b>ডেটার ব্যবহার</b></p>

	<p>ShamsCorner LLC বিভিন্ন উদ্দেশ্যে সংগৃহীত ডেটা ব্যবহার করে:</p>

	<p>০.১. আমাদের সেবা প্রদান এবং বজায় রাখতে;</p>

	<p>০.২. আমাদের সেবার পরিবর্তন সম্পর্কে আপনাকে অবহিত করতে;</p>

	<p>
		০.৩. আপনাকে আমাদের সেবার ইন্টারেক্টিভ বৈশিষ্ট্যগুলিতে অংশগ্রহণ করতে দিতে যখন আপনি তা করতে চান;
	</p>

	<p>০.৪. গ্রাহক সহায়তা প্রদান করতে;</p>
	<p>০.৫. বিশ্লেষণ বা মূল্যবান তথ্য সংগ্রহ করতে যাতে আমরা আমাদের সেবা উন্নত করতে পারি;</p>

	<p>০.৬. আমাদের সেবার ব্যবহার পর্যবেক্ষণ করতে;</p>

	<p>০.৭. প্রযুক্তিগত সমস্যাগুলি সনাক্ত, প্রতিরোধ এবং সমাধান করতে;</p>

	<p>০.৮. আপনি যে কোনও উদ্দেশ্যে এটি প্রদান করেন তা পূরণ করতে;</p>

	<p>
		০.৯. আমাদের মধ্যে প্রবেশ করা যে কোনও চুক্তি থেকে উদ্ভূত আমাদের বাধ্যবাধকতা পালন এবং আমাদের
		অধিকার প্রয়োগ করতে, বিলিং এবং সংগ্রহ সহ;
	</p>

	<p>
		০.১০. আপনার অ্যাকাউন্ট এবং/অথবা সাবস্ক্রিপশন সম্পর্কে আপনাকে বিজ্ঞপ্তি প্রদান করতে, মেয়াদ শেষ
		হওয়া এবং নবায়ন বিজ্ঞপ্তি, ইমেল-নির্দেশনা, ইত্যাদি;
	</p>

	<p>
		০.১১. আপনাকে খবর, বিশেষ অফার এবং অন্যান্য পণ্য, পরিষেবা এবং ইভেন্ট সম্পর্কে সাধারণ তথ্য প্রদান
		করতে যা আমরা অফার করি যা আপনি ইতিমধ্যে ক্রয় করেছেন বা জিজ্ঞাসা করেছেন তার অনুরূপ যদি না আপনি এই
		ধরনের তথ্য গ্রহণ না করার জন্য অপ্ট আউট করেন;
	</p>

	<p>০.১২. আপনি তথ্য প্রদান করার সময় আমরা যে কোনও উপায়ে বর্ণনা করতে পারি;</p>

	<p>০.১৩. আপনার সম্মতির সাথে যে কোনও উদ্দেশ্যে।</p>

	<p>৬. <b>ডেটার ধারণ</b></p>

	<p>
		আমরা আপনার ব্যক্তিগত ডেটা শুধুমাত্র এই গোপনীয়তা নীতিতে বর্ণিত উদ্দেশ্যগুলির জন্য প্রয়োজনীয়
		হিসাবে ধরে রাখব। আমরা আমাদের আইনি বাধ্যবাধকতা মেনে চলার জন্য আপনার ব্যক্তিগত ডেটা ধরে রাখব এবং
		ব্যবহার করব (উদাহরণস্বরূপ, যদি আমরা প্রযোজ্য আইন মেনে চলার জন্য আপনার ডেটা ধরে রাখতে বাধ্য
		থাকি), বিরোধ সমাধান করতে এবং আমাদের আইনি চুক্তি এবং নীতি প্রয়োগ করতে।
	</p>

	<p>
		আমরা অভ্যন্তরীণ বিশ্লেষণের উদ্দেশ্যে ব্যবহার ডেটাও ধরে রাখব। ব্যবহার ডেটা সাধারণত একটি ছোট
		সময়ের জন্য ধরে রাখা হয়, ব্যতীত যখন এই ডেটা নিরাপত্তা জোরদার করতে বা আমাদের সেবার কার্যকারিতা
		উন্নত করতে ব্যবহৃত হয়, বা আমরা আইনি বাধ্যবাধকতা মেনে চলার জন্য এই ডেটা দীর্ঘ সময়ের জন্য ধরে
		রাখতে বাধ্য।
	</p>

	<p>৭. <b>ডেটার স্থানান্তর</b></p>

	<p>
		আপনার তথ্য, ব্যক্তিগত ডেটা সহ, আপনার রাজ্য, প্রদেশ, দেশ বা অন্যান্য সরকারি এখতিয়ারের বাইরে
		অবস্থিত কম্পিউটারে স্থানান্তরিত হতে পারে এবং রক্ষণাবেক্ষণ করা হতে পারে যেখানে ডেটা সুরক্ষা আইন
		আপনার এখতিয়ারের থেকে আলাদা হতে পারে।
	</p>

	<p>
		আপনি যদি মার্কিন যুক্তরাষ্ট্রের বাইরে অবস্থিত হন এবং আমাদের কাছে তথ্য প্রদান করতে চান, অনুগ্রহ
		করে মনে রাখবেন যে আমরা মার্কিন যুক্তরাষ্ট্রে ডেটা স্থানান্তর করি এবং সেখানে প্রক্রিয়া করি।
	</p>

	<p>
		এই গোপনীয়তা নীতিতে আপনার সম্মতি এবং এই ধরনের তথ্য জমা দেওয়ার মাধ্যমে আপনি সেই স্থানান্তরের
		সাথে সম্মত হন।
	</p>

	<p>
		ShamsCorner LLC আপনার ডেটা নিরাপদে এবং এই গোপনীয়তা নীতির সাথে সঙ্গতিপূর্ণভাবে আচরণ করার জন্য
		যুক্তিসঙ্গতভাবে প্রয়োজনীয় সমস্ত পদক্ষেপ নেবে এবং আপনার ব্যক্তিগত ডেটার কোনও স্থানান্তর কোনও
		সংস্থা বা দেশে ঘটবে না যদি না সেখানে পর্যাপ্ত নিয়ন্ত্রণ ব্যবস্থা থাকে যার মধ্যে আপনার ডেটা এবং
		অন্যান্য ব্যক্তিগত তথ্যের নিরাপত্তা অন্তর্ভুক্ত থাকে।
	</p>

	<p>৮. <b>ডেটার প্রকাশ</b></p>

	<p>আমরা যে ব্যক্তিগত তথ্য সংগ্রহ করি বা আপনি প্রদান করেন তা প্রকাশ করতে পারি:</p>

	<p>০.১. <b>আইন প্রয়োগের জন্য প্রকাশ।</b></p><p>
		নির্দিষ্ট পরিস্থিতিতে, আমরা আইনের দ্বারা প্রয়োজন হলে বা পাবলিক কর্তৃপক্ষের বৈধ অনুরোধের
		প্রতিক্রিয়ায় আপনার ব্যক্তিগত ডেটা প্রকাশ করতে বাধ্য হতে পারি।
	</p><p>০.২. <b>ব্যবসায়িক লেনদেন।</b></p><p>
		যদি আমরা বা আমাদের সহায়ক সংস্থাগুলি একটি একীভূতকরণ, অধিগ্রহণ বা সম্পদ বিক্রির সাথে জড়িত থাকে,
		আপনার ব্যক্তিগত ডেটা স্থানান্তরিত হতে পারে।
	</p><p>০.৩. <b>অন্যান্য ক্ষেত্রে। আমরা আপনার তথ্যও প্রকাশ করতে পারি:</b></p><p>
		০.৩.১. আমাদের সহায়ক সংস্থা এবং অনুমোদিতদের কাছে;
	</p><p>
		০.৩.২. ঠিকাদার, সেবা প্রদানকারী এবং অন্যান্য তৃতীয় পক্ষের কাছে আমরা আমাদের ব্যবসা সমর্থন করতে
		ব্যবহার করি;
	</p><p>০.৩.৩. আপনি যে উদ্দেশ্যে এটি প্রদান করেন তা পূরণ করতে;</p><p>
		০.৩.৪. আমাদের ওয়েবসাইটে আপনার কোম্পানির লোগো অন্তর্ভুক্ত করার উদ্দেশ্যে;
	</p><p>০.৩.৫. আপনি তথ্য প্রদান করার সময় আমাদের দ্বারা প্রকাশিত যে কোনও উদ্দেশ্যে;</p><p>
		০.৩.৬. আপনার সম্মতির সাথে যে কোনও অন্যান্য ক্ষেত্রে;
	</p><p>
		০.৩.৭. যদি আমরা বিশ্বাস করি যে প্রকাশ প্রয়োজনীয় বা উপযুক্ত আমাদের কোম্পানি, আমাদের গ্রাহক বা
		অন্যদের অধিকার, সম্পত্তি বা নিরাপত্তা রক্ষা করতে।
	</p>

	<p>৯. <b>ডেটার নিরাপত্তা</b></p>
	<p>
		আপনার ডেটার নিরাপত্তা আমাদের কাছে গুরুত্বপূর্ণ তবে মনে রাখবেন যে ইন্টারনেটের মাধ্যমে সংক্রমণের
		কোনও পদ্ধতি বা ইলেকট্রনিক স্টোরেজ পদ্ধতি ১০০% নিরাপদ নয়। আমরা আপনার ব্যক্তিগত ডেটা রক্ষা করার
		জন্য বাণিজ্যিকভাবে গ্রহণযোগ্য উপায়গুলি ব্যবহার করার চেষ্টা করি, আমরা এর সম্পূর্ণ নিরাপত্তার
		গ্যারান্টি দিতে পারি না।
	</p>

	<p>১০. <b>সাধারণ ডেটা সুরক্ষা নিয়ম (জিডিপিআর) এর অধীনে আপনার ডেটা সুরক্ষা অধিকার</b></p>

	<p>
		আপনি যদি ইউরোপীয় ইউনিয়ন (ইইউ) এবং ইউরোপীয় অর্থনৈতিক এলাকা (ইইএ) এর বাসিন্দা হন, তাহলে আপনার
		জিডিপিআর দ্বারা নির্দিষ্ট কিছু ডেটা সুরক্ষা অধিকার রয়েছে।
	</p>
	<p>
		আমরা আপনার ব্যক্তিগত ডেটা সংশোধন, সংশোধন, মুছে ফেলা বা সীমিত করার জন্য যুক্তিসঙ্গত পদক্ষেপ নিতে
		লক্ষ্য করি।
	</p>
	<p>
		আপনি যদি জানতে চান যে আমরা আপনার সম্পর্কে কোন ব্যক্তিগত ডেটা রাখি এবং আপনি যদি আমাদের সিস্টেম
		থেকে এটি সরিয়ে ফেলতে চান, অনুগ্রহ করে আমাদের ইমেল করুন <b>support@hobenakicoffee.com</b> এ।
	</p>
	<p>নির্দিষ্ট পরিস্থিতিতে, আপনার নিম্নলিখিত ডেটা সুরক্ষা অধিকার রয়েছে:</p>
	<p>০.১. আপনার উপর আমাদের কাছে থাকা তথ্য অ্যাক্সেস, আপডেট বা মুছে ফেলার অধিকার;</p>
	<p>
		০.২. সংশোধনের অধিকার। আপনার তথ্য যদি ভুল বা অসম্পূর্ণ হয় তবে আপনার তথ্য সংশোধন করার অধিকার
		রয়েছে;
	</p>
	<p>০.৩. আপত্তির অধিকার। আপনার ব্যক্তিগত ডেটা প্রক্রিয়াকরণে আমাদের আপত্তি করার অধিকার রয়েছে;</p>
	<p>
		০.৪. সীমাবদ্ধতার অধিকার। আপনার ব্যক্তিগত তথ্য প্রক্রিয়াকরণ সীমাবদ্ধ করার জন্য আমাদের অনুরোধ
		করার অধিকার রয়েছে;
	</p>
	<p>
		০.৫. ডেটা পোর্টেবিলিটির অধিকার। আপনার ব্যক্তিগত ডেটার একটি কপি একটি কাঠামোগত, মেশিন-পঠনযোগ্য এবং
		সাধারণত ব্যবহৃত বিন্যাসে সরবরাহ করার অধিকার রয়েছে;
	</p>
	<p>
		০.৬. সম্মতি প্রত্যাহারের অধিকার। যেখানে আমরা আপনার সম্মতির উপর নির্ভর করে আপনার ব্যক্তিগত তথ্য
		প্রক্রিয়া করি সেখানে আপনি যে কোনও সময় আপনার সম্মতি প্রত্যাহার করার অধিকারও রাখেন;
	</p>
	<p>
		অনুগ্রহ করে মনে রাখবেন যে আমরা এই ধরনের অনুরোধের প্রতিক্রিয়া জানানোর আগে আপনার পরিচয় যাচাই
		করার জন্য আপনাকে জিজ্ঞাসা করতে পারি।
	</p>
	<p>
		অনুগ্রহ করে মনে রাখবেন, কিছু প্রয়োজনীয় ডেটা ছাড়া আমরা সেবা প্রদান করতে সক্ষম নাও হতে পারি।
	</p>
	<p>
		আপনার ব্যক্তিগত ডেটা সংগ্রহ এবং ব্যবহারের বিষয়ে আমাদের কাছে অভিযোগ করার অধিকার রয়েছে। আরও
		তথ্যের জন্য, অনুগ্রহ করে আপনার স্থানীয় ডেটা সুরক্ষা কর্তৃপক্ষের সাথে যোগাযোগ করুন ইউরোপীয়
		অর্থনৈতিক এলাকা (ইইএ)।
	</p>

	<p>
		১১. <b
			>ক্যালিফোর্নিয়া প্রাইভেসি প্রোটেকশন অ্যাক্ট (CalOPPA) এর অধীনে আপনার ডেটা সুরক্ষা অধিকার</b
		>
	</p>

	<p>
		CalOPPA হল প্রথম রাজ্য আইন যা বাণিজ্যিক ওয়েবসাইট এবং অনলাইন পরিষেবাগুলিকে একটি গোপনীয়তা নীতি
		পোস্ট করতে প্রয়োজন। আইনের পরিধি ক্যালিফোর্নিয়ার বাইরেও প্রসারিত হয় যাতে ক্যালিফোর্নিয়ার
		ভোক্তাদের কাছ থেকে ব্যক্তিগতভাবে চিহ্নিতযোগ্য তথ্য সংগ্রহকারী ওয়েবসাইট পরিচালনা করে এমন কোনও
		ব্যক্তি বা কোম্পানিকে তাদের ওয়েবসাইটে একটি স্পষ্ট গোপনীয়তা নীতি পোস্ট করতে এবং এই নীতির সাথে
		সম্মতি জানাতে প্রয়োজন।
	</p>
	<p>CalOPPA অনুযায়ী আমরা নিম্নলিখিত বিষয়ে সম্মত হই:</p>
	<p>০.১. ব্যবহারকারীরা আমাদের সাইটটি বেনামে পরিদর্শন করতে পারেন;</p>
	<p>
		০.২. আমাদের গোপনীয়তা নীতি লিঙ্কে "গোপনীয়তা" শব্দটি অন্তর্ভুক্ত রয়েছে এবং এটি আমাদের
		ওয়েবসাইটের হোম পৃষ্ঠায় সহজেই পাওয়া যায়;
	</p>
	<p>
		০.৩. ব্যবহারকারীদের আমাদের গোপনীয়তা নীতি পরিবর্তনের বিষয়ে আমাদের গোপনীয়তা নীতি পৃষ্ঠায় অবহিত
		করা হবে;
	</p>
	<p>
		০.৪. ব্যবহারকারীরা আমাদের ইমেল করে তাদের ব্যক্তিগত তথ্য পরিবর্তন করতে সক্ষম হবেন <b
			>support@hobenakicoffee.com</b
		> এ।
	</p>
	<p>আমাদের "ট্র্যাক করবেন না" সংকেতগুলির নীতি:</p>
	<p>
		আমরা ট্র্যাক করবেন না সংকেতগুলিকে সম্মান করি এবং একটি ট্র্যাক করবেন না ব্রাউজার প্রক্রিয়া
		কার্যকর থাকলে ট্র্যাক করি না, কুকিজ লাগাই না বা বিজ্ঞাপন ব্যবহার করি না। ট্র্যাক করবেন না হল
		একটি পছন্দ যা আপনি আপনার ওয়েব ব্রাউজারে সেট করতে পারেন ওয়েবসাইটগুলিকে জানাতে যে আপনি ট্র্যাক
		হতে চান না।
	</p>
	<p>
		আপনি আপনার ওয়েব ব্রাউজারের পছন্দ বা সেটিংস পৃষ্ঠায় গিয়ে ট্র্যাক করবেন না সক্ষম বা অক্ষম করতে
		পারেন।
	</p>

	<p>
		১২. <b>ক্যালিফোর্নিয়া কনজিউমার প্রাইভেসি অ্যাক্ট (CCPA) এর অধীনে আপনার ডেটা সুরক্ষা অধিকার</b>
	</p>

	<p>
		আপনি যদি ক্যালিফোর্নিয়ার বাসিন্দা হন, তাহলে আপনি আমাদের কাছ থেকে আপনার সম্পর্কে কোন ডেটা সংগ্রহ
		করি, আপনার ডেটা মুছে ফেলতে এবং এটি বিক্রি না করার (শেয়ার) অনুরোধ করতে পারেন। আপনার ডেটা সুরক্ষা
		অধিকার প্রয়োগ করতে, আপনি নির্দিষ্ট অনুরোধ করতে পারেন এবং আমাদের জিজ্ঞাসা করতে পারেন:
	</p>
	<p>
		<b
			>০.১. আমরা আপনার সম্পর্কে কোন ব্যক্তিগত তথ্য সংগ্রহ করেছি। আপনি যদি এই অনুরোধ করেন, আমরা
			আপনাকে প্রদান করব:</b
		>
	</p>
	<p>০.০.১. আমরা আপনার সম্পর্কে কোন ব্যক্তিগত তথ্য সংগ্রহ করেছি তার বিভাগগুলি।</p>
	<p>০.০.২. আমরা আপনার ব্যক্তিগত তথ্য সংগ্রহ করি এমন উৎসের বিভাগগুলি।</p>
	<p>০.০.৩. আপনার ব্যক্তিগত তথ্য সংগ্রহ বা বিক্রি করার জন্য ব্যবসায়িক বা বাণিজ্যিক উদ্দেশ্য।</p>
	<p>০.০.৪. আমরা যাদের সাথে ব্যক্তিগত তথ্য শেয়ার করি তাদের তৃতীয় পক্ষের বিভাগগুলি।</p>
	<p>০.০.৫. আমরা আপনার সম্পর্কে কোন ব্যক্তিগত তথ্য সংগ্রহ করেছি তার নির্দিষ্ট অংশগুলি।</p>
	<p>
		০.০.৬. আমরা যে ব্যক্তিগত তথ্য বিক্রি করেছি তার বিভাগগুলির একটি তালিকা, সেইসাথে আমরা যেকোনো
		কোম্পানিকে বিক্রি করেছি তার বিভাগ। যদি আমরা আপনার ব্যক্তিগত তথ্য বিক্রি না করে থাকি, আমরা আপনাকে
		সেই তথ্য জানাব।
	</p>
	<p>
		০.০.৭. আমরা যে ব্যবসায়িক উদ্দেশ্যে প্রকাশ করেছি তার বিভাগগুলির একটি তালিকা, সেইসাথে আমরা যেকোনো
		কোম্পানির সাথে শেয়ার করেছি তার বিভাগ।
	</p>
	<p>
		অনুগ্রহ করে মনে রাখবেন, আপনি আমাদের কাছে এই তথ্যটি একটি ঘূর্ণায়মান বারো মাসের সময়কালে দুইবার
		পর্যন্ত প্রদান করার জন্য অনুরোধ করতে পারেন। আপনি যখন এই অনুরোধ করেন, তখন প্রদত্ত তথ্যটি
		পূর্ববর্তী ১২ মাসে আমরা আপনার সম্পর্কে যে ব্যক্তিগত তথ্য সংগ্রহ করেছি তার মধ্যে সীমাবদ্ধ হতে
		পারে।
	</p>
	<p>
		<b
			>০.২. আপনার ব্যক্তিগত তথ্য মুছে ফেলতে। আপনি যদি এই অনুরোধ করেন, আমরা আমাদের রেকর্ড থেকে আপনার
			অনুরোধের তারিখ হিসাবে আমরা আপনার সম্পর্কে যে ব্যক্তিগত তথ্য রাখি তা মুছে ফেলব এবং যেকোনো সেবা
			প্রদানকারীকে একই কাজ করতে নির্দেশ দেব। কিছু ক্ষেত্রে, মুছে ফেলা তথ্যের পরিচয়হীনতার মাধ্যমে
			সম্পন্ন হতে পারে। আপনি যদি আপনার ব্যক্তিগত তথ্য মুছে ফেলতে বেছে নেন, তাহলে আপনি কিছু ফাংশন
			ব্যবহার করতে সক্ষম নাও হতে পারেন যা আপনার ব্যক্তিগত তথ্য পরিচালনা করতে প্রয়োজন।</b
		>
	</p>
	<p>
		<b
			>০.৩. আপনার ব্যক্তিগত তথ্য বিক্রি বন্ধ করতে। আমরা কোনও তৃতীয় পক্ষের কাছে কোনও উদ্দেশ্যে আপনার
			ব্যক্তিগত তথ্য বিক্রি বা ভাড়া করি না। আমরা আপনার ব্যক্তিগত তথ্য আর্থিক বিবেচনার জন্য বিক্রি
			করি না। তবে, কিছু পরিস্থিতিতে, একটি তৃতীয় পক্ষের কাছে ব্যক্তিগত তথ্য স্থানান্তর, বা আমাদের
			কোম্পানির পরিবারের মধ্যে, আর্থিক বিবেচনা ছাড়াই ক্যালিফোর্নিয়া আইনের অধীনে একটি "বিক্রয়"
			হিসাবে বিবেচিত হতে পারে। আপনি আপনার ব্যক্তিগত ডেটার একমাত্র মালিক এবং যে কোনও সময় প্রকাশ বা
			মুছে ফেলার অনুরোধ করতে পারেন।</b
		>
	</p>
	<p>
		আপনি যদি আপনার ব্যক্তিগত তথ্য বিক্রি বন্ধ করার জন্য একটি অনুরোধ জমা দেন, আমরা এই ধরনের
		স্থানান্তর বন্ধ করব।
	</p>
	<p>
		অনুগ্রহ করে মনে রাখবেন, আপনি যদি আমাদের আপনার ডেটা মুছে ফেলতে বা বিক্রি বন্ধ করতে বলেন, তাহলে
		এটি আপনার অভিজ্ঞতাকে প্রভাবিত করতে পারে এবং আপনি কিছু প্রোগ্রাম বা সদস্য পরিষেবাগুলিতে অংশগ্রহণ
		করতে সক্ষম নাও হতে পারেন যা কার্যকর করতে আপনার ব্যক্তিগত তথ্যের ব্যবহার প্রয়োজন। তবে কোনও
		পরিস্থিতিতেই, আমরা আপনার অধিকার প্রয়োগ করার জন্য আপনার বিরুদ্ধে বৈষম্য করব না।
	</p>
	<p>
		উপরোক্ত বর্ণিত আপনার ক্যালিফোর্নিয়া ডেটা সুরক্ষা অধিকার প্রয়োগ করতে, অনুগ্রহ করে আপনার
		অনুরোধ(গুলি) ইমেলের মাধ্যমে পাঠান: <b>support@hobenakicoffee.com</b>।
	</p>
	<p>
		আপনার ডেটা সুরক্ষা অধিকার, উপরে বর্ণিত, CCPA দ্বারা আচ্ছাদিত, ক্যালিফোর্নিয়া কনজিউমার প্রাইভেসি
		অ্যাক্টের সংক্ষিপ্ত রূপ। আরও জানতে, অনুগ্রহ করে অফিসিয়াল ক্যালিফোর্নিয়া আইনসভা তথ্য ওয়েবসাইট
		দেখুন। CCPA ০১/০১/২০২০ তারিখে কার্যকর হয়েছিল।
	</p>

	<p>১৩. <b>সেবা প্রদানকারী</b></p>

	<p>
		আমরা তৃতীয় পক্ষের কোম্পানি এবং ব্যক্তিদের নিয়োগ করতে পারি আমাদের সেবা সহজতর করতে (<b
			>“সেবা প্রদানকারী”</b
		>), আমাদের পক্ষ থেকে সেবা প্রদান করতে, সেবা সম্পর্কিত পরিষেবা সম্পাদন করতে বা আমাদের সেবা কীভাবে
		ব্যবহৃত হয় তা বিশ্লেষণ করতে সহায়তা করতে।
	</p>

	<p>
		এই তৃতীয় পক্ষগুলি আমাদের পক্ষ থেকে এই কাজগুলি সম্পাদন করতে আপনার ব্যক্তিগত ডেটা অ্যাক্সেস করতে
		পারে এবং অন্য কোনও উদ্দেশ্যে এটি প্রকাশ বা ব্যবহার না করার জন্য বাধ্য।
	</p>

	<p>১৪. <b>বিশ্লেষণ</b></p>

	<p>
		আমরা আমাদের সেবা ব্যবহারের নিরীক্ষণ এবং বিশ্লেষণ করতে তৃতীয় পক্ষের সেবা প্রদানকারীদের ব্যবহার
		করতে পারি।
	</p>

	<p>১৫. <b>সিআই/সিডি সরঞ্জাম</b></p>

	<p>
		আমরা আমাদের সেবার উন্নয়ন প্রক্রিয়া স্বয়ংক্রিয় করতে তৃতীয় পক্ষের সেবা প্রদানকারীদের ব্যবহার
		করতে পারি।
	</p>

	<p>১৬. <b>আচরণগত রিমার্কেটিং</b></p>

	<p>
		আমরা আপনাকে আমাদের সেবা পরিদর্শন করার পরে তৃতীয় পক্ষের ওয়েবসাইটে বিজ্ঞাপন দেওয়ার জন্য
		রিমার্কেটিং পরিষেবাগুলি ব্যবহার করতে পারি। আমরা এবং আমাদের তৃতীয় পক্ষের বিক্রেতারা কুকিজ
		ব্যবহার করি আপনাকে আমাদের সেবা পরিদর্শনের উপর ভিত্তি করে বিজ্ঞাপন জানাতে, অপ্টিমাইজ করতে এবং
		পরিবেশন করতে।
	</p>

	<p>১৭. <b>পেমেন্ট</b></p><p>
		আমরা সেবার মধ্যে অর্থপ্রদান পণ্য এবং/অথবা পরিষেবা প্রদান করতে পারি। সেই ক্ষেত্রে, আমরা
		অর্থপ্রদান প্রক্রিয়াকরণের জন্য তৃতীয় পক্ষের পরিষেবাগুলি ব্যবহার করি (যেমন অর্থপ্রদান
		প্রক্রিয়াকরণকারী)।
	</p><p>
		আমরা আপনার অর্থপ্রদান কার্ডের বিবরণ সংরক্ষণ বা সংগ্রহ করব না। সেই তথ্য সরাসরি আমাদের তৃতীয়
		পক্ষের অর্থপ্রদান প্রক্রিয়াকরণকারীদের প্রদান করা হয় যাদের আপনার ব্যক্তিগত তথ্যের ব্যবহার তাদের
		গোপনীয়তা নীতির দ্বারা নিয়ন্ত্রিত হয়। এই অর্থপ্রদান প্রক্রিয়াকরণকারীরা পিসিআই-ডিএসএস দ্বারা
		নির্ধারিত মানগুলির সাথে মেনে চলে যা পিসিআই সিকিউরিটি স্ট্যান্ডার্ডস কাউন্সিল দ্বারা পরিচালিত
		হয়, যা ভিসা, মাস্টারকার্ড, আমেরিকান এক্সপ্রেস এবং ডিসকভারের মতো ব্র্যান্ডগুলির একটি যৌথ
		প্রচেষ্টা। পিসিআই-ডিএসএস প্রয়োজনীয়তাগুলি অর্থপ্রদান তথ্যের নিরাপদ পরিচালনা নিশ্চিত করতে
		সহায়তা করে।
	</p>

	<p>১৮. <b>অন্যান্য সাইটের লিঙ্ক</b></p>

	<p>
		আমাদের সেবাতে অন্য সাইটের লিঙ্ক থাকতে পারে যা আমাদের দ্বারা পরিচালিত হয় না। আপনি যদি একটি
		তৃতীয় পক্ষের লিঙ্কে ক্লিক করেন, আপনি সেই তৃতীয় পক্ষের সাইটে পরিচালিত হবেন। আমরা আপনাকে পরামর্শ
		দিই যে আপনি যে প্রতিটি সাইট পরিদর্শন করেন তার গোপনীয়তা নীতি পর্যালোচনা করুন।
	</p>

	<p>
		আমাদের কোনও নিয়ন্ত্রণ নেই এবং কোনও তৃতীয় পক্ষের সাইট বা পরিষেবার বিষয়বস্তু, গোপনীয়তা নীতি বা
		অনুশীলনের জন্য কোনও দায়িত্ব গ্রহণ করি না।
	</p>

	<p>
		উদাহরণস্বরূপ, বর্ণিত <a href="https://policymaker.io/privacy-policy/">গোপনীয়তা নীতি</a> তৈরি করা
		হয়েছে <a href="https://policymaker.io/">PolicyMaker.io</a> ব্যবহার করে, একটি বিনামূল্যের সরঞ্জাম
		যা উচ্চ-মানের আইনি নথি তৈরি করতে সহায়তা করে। PolicyMaker এর <a
			href="https://policymaker.io/privacy-policy/">গোপনীয়তা নীতি জেনারেটর</a
		> একটি <a href="https://policymaker.io/blog-privacy-policy/">ব্লগের জন্য গোপনীয়তা নীতি</a>,
		ওয়েবসাইট, ই-কমার্স স্টোর বা মোবাইল অ্যাপ তৈরি করার জন্য একটি সহজ-ব্যবহারযোগ্য সরঞ্জাম।
	</p>

	<p>১৯. <b><b>শিশুদের গোপনীয়তা</b></b></p>

	<p>
		আমাদের সেবাগুলি ১৮ বছরের কম বয়সী শিশুদের দ্বারা ব্যবহারের উদ্দেশ্যে নয় (<b>“শিশু”</b> বা <b
			>“শিশুরা”</b
		>)।
	</p>

	<p>
		আমরা ১৮ বছরের কম বয়সী শিশুদের কাছ থেকে ব্যক্তিগতভাবে চিহ্নিতযোগ্য তথ্য সংগ্রহ করি না। আপনি যদি
		সচেতন হন যে একটি শিশু আমাদের ব্যক্তিগত ডেটা প্রদান করেছে, অনুগ্রহ করে আমাদের সাথে যোগাযোগ করুন।
		আমরা যদি সচেতন হই যে আমরা পিতামাতার সম্মতির যাচাই ছাড়াই শিশুদের কাছ থেকে ব্যক্তিগত ডেটা সংগ্রহ
		করেছি, আমরা আমাদের সার্ভার থেকে সেই তথ্য অপসারণের পদক্ষেপ গ্রহণ করি।
	</p>

	<p>২০. <b>এই গোপনীয়তা নীতির পরিবর্তন</b></p>

	<p>
		আমরা সময়ে সময়ে আমাদের গোপনীয়তা নীতি আপডেট করতে পারি। আমরা এই পৃষ্ঠায় নতুন গোপনীয়তা নীতি
		পোস্ট করে আপনাকে কোনও পরিবর্তনের বিষয়ে অবহিত করব।
	</p>

	<p>
		পরিবর্তন কার্যকর হওয়ার আগে এবং এই গোপনীয়তা নীতির শীর্ষে "কার্যকর তারিখ" আপডেট করার আগে আমরা
		আপনাকে ইমেল এবং/অথবা আমাদের সেবাতে একটি বিশিষ্ট বিজ্ঞপ্তির মাধ্যমে জানাব।
	</p>

	<p>
		আপনাকে পরামর্শ দেওয়া হচ্ছে যে কোনও পরিবর্তনের জন্য সময়ে সময়ে এই গোপনীয়তা নীতি পর্যালোচনা
		করুন। এই গোপনীয়তা নীতির পরিবর্তনগুলি যখন এই পৃষ্ঠায় পোস্ট করা হয় তখন কার্যকর হয়।
	</p>

	<p>২১. <b>আমাদের সাথে যোগাযোগ করুন</b></p>

	<p>
		আপনার যদি এই গোপনীয়তা নীতি সম্পর্কে কোনও প্রশ্ন থাকে, অনুগ্রহ করে আমাদের ইমেল করুন: <b
			>support@hobenakicoffee.com</b
		> দ্বারা <a href="https://policymaker.io">PolicyMaker.io</a>।
	</p>

	<p>ধন্যবাদ <b>হবে নাকি Coffee?</b> বেছে নেওয়ার জন্য।</p>
</div>
