---
import * as Card from '$lib/components/ui/card/index.js';
import { MessageCircle, MoreHorizontal, Send, Share2, ThumbsUp, X, User2 } from 'lucide-astro';
import SwirlyScribbledArrow from '../common/swirly-scribbled-arrow.astro';
import { LL } from '@utils/i18n';
---

<div class="flex justify-end">
	<Card.Root class="relative border-none bg-gray-100 shadow-none md:max-w-lg lg:max-w-xl">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 36 36"
			fill="url(#a)"
			class="absolute -top-6 left-[200px] w-12"
			role="presentation"
		>
			<defs>
				<linearGradient x1="50%" x2="50%" y1="97.078%" y2="0%" id="a">
					<stop offset="0%" stop-color="#0062E0"></stop>
					<stop offset="100%" stop-color="#19AFFF"></stop>
				</linearGradient>
			</defs>
			<path
				d="M15 35.8C6.5 34.3 0 26.9 0 18 0 8.1 8.1 0 18 0s18 8.1 18 18c0 8.9-6.5 16.3-15 17.8l-1-.8h-4l-1 .8z"
			></path>
			<path
				fill="#FFF"
				d="m25 23 .8-5H21v-3.5c0-1.4.5-2.5 2.7-2.5H26V7.4c-1.3-.2-2.7-.4-4-.4-4.1 0-7 2.5-7 7v4h-4.5v5H15v12.7c1 .2 2 .3 3 .3s2-.1 3-.3V23h4z"
			></path>
		</svg>
		<Card.Header class="flex flex-row items-start justify-between p-4">
			<div class="flex gap-2">
				<div class="flex h-10 w-10 items-center justify-center rounded-full bg-gray-300">
					<User2 class="text-muted-foreground" />
				</div>
				<div>
					<h2 class="font-semibold">আব্দুর রাহমান</h2>
					<div class="flex items-center gap-1 text-sm text-muted-foreground">
						<span>1h</span>
						<span>·</span>
						<span>🌍</span>
					</div>
				</div>
			</div>
			<div class="flex gap-2">
				<div class="rounded-full p-2 text-muted-foreground">
					<MoreHorizontal class="h-5 w-5" />
				</div>
				<div class="rounded-full p-2 text-muted-foreground">
					<X class="h-5 w-5" />
				</div>
			</div>
		</Card.Header>
		<Card.Content class="p-4 pt-0">
			<div class="flex flex-col gap-y-4 text-[15px] leading-relaxed">
				<p>"একটি ছোট্ট আলোর গল্প"</p>
				<p>
					🌾 গ্রামের দরিদ্র আরিফ বাবার মৃত্যুর পর স্কুল ছাড়ে, কিন্তু বইয়ের নেশা ছাড়েনি। ফসলের মাঠে
					কাজের ফাঁকে পুরোনো বই জোগাড় করে, মোমবাতির আলোয় পড়ত। স্কুলের হেড স্যার তাকে বিনাপয়সায়
					ক্লাসে ঢুকতে দিলেন। মাধ্যমিক পাশ করে, টিউশনি করে আয় জুটাল। অধ্যবসায়ে পেল বিশ্ববিদ্যালয়ে
					স্কলারশিপ!
				</p>
				<p>🌟 আজ সে সফল ইঞ্জিনিয়ার। তার প্রতিষ্ঠিত বিনামূল্যের পাঠশালায় জ্বলে শত শিশুর স্বপ্ন।</p>
				<p>
					"অসম্ভব বলে কিছু নেই—দরকার শুধু অদম্য ইচ্ছা আর একটুখানি আশা। বাধা এসেই যাবে, কিন্তু হার
					মানা যাবে না!"
				</p>
				<p>#অধ্যবসায় #সফলতার_গল্প #আলোর_পথযাত্রী 🌱</p>
				<div class="relative">
					<a
						href="https://hobenakicoffee.com/abdur-rahman"
						class="pointer-events-none text-blue-600"
					>
						https://hobenakicoffee.com/abdur-rahman
					</a>
					<div
						class="absolute -top-16 left-[250px] h-16 w-16 rotate-180 text-primary sm:left-[290px] md:left-[-4.5rem] md:rotate-90 lg:left-[-5.5rem] lg:h-20 lg:w-20"
					>
						<SwirlyScribbledArrow />
					</div>
					<div
						class="absolute -top-32 left-[-48%] hidden max-w-[230px] text-xl font-semibold md:block lg:-left-1/2 lg:text-2xl"
					>
						"{LL.landingPage.howItIsBeingUsed.facebook.hint()}"
					</div>
				</div>
			</div>
		</Card.Content>
		<div class="border-t border-gray-300 px-4 py-2">
			<div class="flex items-center justify-between text-sm text-muted-foreground">
				<div class="flex items-center gap-1">
					<div class="flex">
						<div class="rounded-full bg-[#2D88FF] p-1">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								class="size-3 text-background"
							>
								<path
									d="M1 8.25a1.25 1.25 0 1 1 2.5 0v7.5a1.25 1.25 0 1 1-2.5 0v-7.5ZM11 3V1.7c0-.268.14-.526.395-.607A2 2 0 0 1 14 3c0 .995-.182 1.948-.514 2.826-.204.54.166 1.174.744 1.174h2.52c1.243 0 2.261 1.01 2.146 2.247a23.864 23.864 0 0 1-1.341 5.974C17.153 16.323 16.072 17 14.9 17h-3.192a3 3 0 0 1-1.341-.317l-2.734-1.366A3 3 0 0 0 6.292 15H5V8h.963c.685 0 1.258-.483 1.612-1.068a4.011 4.011 0 0 1 2.166-1.73c.432-.143.853-.386 1.011-.814.16-.432.248-.9.248-1.388Z"
								></path>
							</svg>
						</div>
						<div class="-ml-1 rounded-full bg-[#F3425F] p-1">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								class="size-3 text-background"
							>
								<path
									d="m9.653 16.915-.005-.003-.019-.01a20.759 20.759 0 0 1-1.162-.682 22.045 22.045 0 0 1-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 0 1 8-2.828A4.5 4.5 0 0 1 18 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 0 1-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 0 1-.69.001l-.002-.001Z"
								></path>
							</svg>
						</div>
					</div>
					<span class="ml-1">Khairul Islam, Shakil Kabir and 119 others</span>
				</div>
				<div class="flex items-center gap-3 text-center">
					<span>7 comments</span>
					<span>3 shares</span>
				</div>
			</div>
		</div>
		<Card.Footer class="grid grid-cols-4 gap-1 border-t border-gray-300 p-1">
			<div class="flex items-center justify-center py-2 text-muted-foreground">
				<ThumbsUp class="mr-2 h-5 w-5" />
				Like
			</div>
			<div class="flex items-center justify-center py-2 text-muted-foreground">
				<MessageCircle class="mr-2 h-5 w-5" />
				Comment
			</div>
			<div class="flex items-center justify-center py-2 text-muted-foreground">
				<Send class="mr-2 h-5 w-5" />
				Send
			</div>
			<div class="flex items-center justify-center py-2 text-muted-foreground">
				<Share2 class="mr-2 h-5 w-5" />
				Share
			</div>
		</Card.Footer>
	</Card.Root>
</div>
