---
import { ExternalLink, Volume2 } from 'lucide-astro';
import SwirlyScribbledArrow from '@components/common/swirly-scribbled-arrow.astro';
import LinkedinLogo from '@components/logos/linkedin.astro';
import SkeletonText from '@components/common/skeleton-text.astro';
---

<div class="flex w-full flex-col gap-y-6">
	<div class="flex items-center gap-3">
		<LinkedinLogo class="w-8" />
		<span class="text-2xl font-semibold">LinkedIn</span>
	</div>
	<div class="flex max-w-2xl flex-col gap-y-4 rounded-2xl border p-6">
		<div class="flex items-center">
			<div class="flex items-center gap-2">
				<h1 class="text-xl font-semibold">Abdur Rahman</h1>
				<Volume2 class="h-5 w-5 text-gray-600" />
			</div>
		</div>

		<div>
			<SkeletonText count={2} />
			<SkeletonText class="max-w-40" />
		</div>

		<div class="flex items-center gap-2 text-gray-600">
			<SkeletonText class="mb-0 max-w-24" />
			<span>·</span>
			<SkeletonText class="mb-0 max-w-24" />
		</div>

		<div class="relative">
			<a
				href="https://hobenakicoffee.com/abdur-rahman"
				class="pointer-events-none text-sm text-blue-600 hover:underline"
			>
				hobenakicoffee.com/abdur-rahman
				<ExternalLink class="ml-2 inline-block h-4 w-4" />
			</a>
			<div
				class="absolute bottom-6 left-40 h-16 w-16 rotate-180 text-primary sm:bottom-2 sm:left-[260px]"
			>
				<SwirlyScribbledArrow />
			</div>
		</div>

		<div class="flex items-center gap-4 text-gray-600">
			<span class="cursor-pointer hover:text-blue-600 hover:underline">
				<strong class="text-gray-900">390</strong> followers
			</span>
			<span class="cursor-pointer hover:text-blue-600 hover:underline">
				<strong class="text-gray-900">361</strong> connections
			</span>
		</div>
	</div>
</div>
