---
import { ExternalLink, Volume2 } from 'lucide-astro';
import SwirlyScribbledArrow from '@components/common/swirly-scribbled-arrow.astro';
---

<div class="space-y-6">
	<div class="flex items-center gap-3">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			preserveAspectRatio="xMidYMid"
			viewBox="0 0 256 256"
			class="w-8"
			role="presentation"
			><path
				d="M218.123 218.127h-37.931v-59.403c0-14.165-.253-32.4-19.728-32.4-19.756 0-22.779 15.434-22.779 31.369v60.43h-37.93V95.967h36.413v16.694h.51a39.907 39.907 0 0 1 35.928-19.733c38.445 0 45.533 25.288 45.533 58.186l-.016 67.013ZM56.955 79.27c-12.157.002-22.014-9.852-22.016-22.009-.002-12.157 9.851-22.014 22.008-22.016 12.157-.003 22.014 9.851 22.016 22.008A22.013 22.013 0 0 1 56.955 79.27m18.966 138.858H37.95V95.967h37.97v122.16ZM237.033.018H18.89C8.58-.098.125 8.161-.001 18.471v219.053c.122 10.315 8.576 18.582 18.89 18.474h218.144c10.336.128 18.823-8.139 18.966-18.474V18.454c-.147-10.33-8.635-18.588-18.966-18.453"
				fill="#0A66C2"></path></svg
		>
		<span class="text-2xl font-semibold">LinkedIn</span>
	</div>
	<div class="max-w-2xl space-y-4 rounded-2xl border p-6">
		<div class="flex items-center">
			<div class="flex items-center gap-2">
				<h1 class="text-xl font-semibold">Abdur Rahman</h1>
				<Volume2 class="h-5 w-5 text-gray-600" />
			</div>
		</div>

		<p class="text-gray-800">
			Frontend Lead | Full-stack Developer | Teaching web development for free (ping me) | Data
			Mining & AI explorer
		</p>

		<div class="flex items-center gap-2 text-gray-600">
			<span>Dhaka, Bangladesh</span>
			<span>·</span>
			<span class="text-blue-600">Contact info</span>
		</div>

		<div class="relative">
			<a
				href="https://hobenakicoffee.com/abdur-rahman"
				class="inline-flex items-center gap-2 text-sm text-blue-600 hover:underline"
			>
				hobenakicoffee.com/abdur-rahman
				<ExternalLink class="h-4 w-4" />
			</a>
			<div class="absolute bottom-2 left-[280px] h-16 w-16 rotate-180 text-primary">
				<SwirlyScribbledArrow />
			</div>
		</div>

		<div class="flex items-center gap-4 text-gray-600">
			<span class="cursor-pointer hover:text-blue-600 hover:underline">
				<strong class="text-gray-900">390</strong> followers
			</span>
			<span class="cursor-pointer hover:text-blue-600 hover:underline">
				<strong class="text-gray-900">361</strong> connections
			</span>
		</div>
	</div>
</div>
