---
import { Link, BriefcaseBusiness, BadgeCheck, Calendar, Clock } from 'lucide-astro';
import SwirlyScribbledArrow from '@components/common/swirly-scribbled-arrow.astro';
import XLogo from '@components/logos/x.astro';
import SkeletonText from '@components/common/skeleton-text.astro';
---

<div class="flex flex-col gap-y-6">
	<div class="flex items-center gap-3">
		<XLogo class="w-8" />
		<span class="text-2xl font-semibold">Twitter</span>
	</div>
	<div class="flex max-w-2xl flex-col gap-y-4 rounded-2xl border p-6">
		<!-- {/* Header */} -->
		<div class="flex items-center gap-2">
			<h1 class="text-xl font-semibold">Abdur Rahman</h1>
			<BadgeCheck class="h-6 w-6 fill-blue-500 text-white" />
			<span role="img" aria-label="spider web"> 🕸️ </span>
			<span role="img" aria-label="person at laptop"> 👨‍💻 </span>
		</div>

		<!-- {/* Handle */} -->
		<div class="text-gray-600">@abdur-rahman</div>

		<!-- {/* Bio */} -->
		<div>
			<SkeletonText count={2} />
		</div>

		<!-- {/* Metadata */} -->
		<div class="grid gap-2 text-sm text-gray-600">
			<div class="flex flex-col gap-2 sm:flex-row sm:items-center">
				<div class="flex items-center gap-2">
					<BriefcaseBusiness class="h-5 w-5 shrink-0" />
					<SkeletonText class="mb-0 w-20" />
				</div>
				<span class="mx-2 hidden sm:inline-block">•</span>

				<div class="relative">
					<a
						href="https://hobenakicoffee.com/abdur-rahman"
						class="flex items-center gap-1 text-blue-500 hover:underline"
					>
						<Link class="h-4 w-4" />
						hobenakicoffee.com/abdur-rahman
					</a>
					<div class="absolute bottom-6 left-[140px] h-16 w-16 rotate-180 text-primary">
						<SwirlyScribbledArrow />
					</div>
				</div>
			</div>
			<div class="flex items-center gap-2">
				<Calendar class="h-5 w-5 shrink-0" />
				<SkeletonText class="mb-0 w-28" />
				<span class="mx-2">•</span>
				<Clock class="h-5 w-5 shrink-0" />
				<SkeletonText class="mb-0 w-28" />
			</div>
		</div>

		<!-- {/* Stats */} -->
		<div class="flex gap-4 text-gray-600">
			<button class="hover:underline">
				<span class="font-semibold text-gray-900">131</span> Following
			</button>
			<button class="hover:underline">
				<span class="font-semibold text-gray-900">273</span> Followers
			</button>
		</div>
	</div>
</div>
