---
import { Badge } from '$lib/components/ui/badge/index.js';
import * as Card from '$lib/components/ui/card/index.js';
import { CheckCircle, Download, MoreVertical, Share2, ThumbsDown, ThumbsUp } from 'lucide-astro';
import SwirlyScribbledArrow from '../common/swirly-scribbled-arrow.astro';
import { LL } from '@utils/i18n';
---

<div class="max-w-4xl rounded-xl border p-5">
	<svg
		viewBox="0 0 256 180"
		xmlns="http://www.w3.org/2000/svg"
		preserveAspectRatio="xMidYMid"
		class="-mt-10 w-12"
	>
		<path
			d="M250.346 28.075A32.18 32.18 0 0 0 227.69 5.418C207.824 0 127.87 0 127.87 0S47.912.164 28.046 5.582A32.18 32.18 0 0 0 5.39 28.24c-6.009 35.298-8.34 89.084.165 122.97a32.18 32.18 0 0 0 22.656 22.657c19.866 5.418 99.822 5.418 99.822 5.418s79.955 0 99.82-5.418a32.18 32.18 0 0 0 22.657-22.657c6.338-35.348 8.291-89.1-.164-123.134Z"
			fill="red"
		>
		</path>
		<path fill="#FFF" d="m102.421 128.06 66.328-38.418-66.328-38.418z"></path>
	</svg>
	<p class="mb-4 mt-2 max-w-3xl text-lg font-medium">
		ভালো ডেভেলপার হওয়ার জন্য তোমার কী কী জিনিস শেখা উচিত। Journey to become a great developer ||
		আব্দুর রাহমান
	</p>

	<div class="mb-4 flex flex-col items-start justify-between gap-5 md:flex-row">
		<div class="flex items-center gap-3">
			<div class="h-10 w-10 rounded-full bg-gray-200"></div>
			<div>
				<div class="flex items-center gap-2">
					<h2 class="font-medium">আব্দুর রাহমান</h2>
					<CheckCircle class="h-4 w-4 text-gray-500" />
				</div>
				<p class="text-sm text-gray-600">43K subscribers</p>
			</div>
			<div class="ml-4 rounded-full bg-black px-4 py-2 text-sm font-medium text-white">
				Subscribe
			</div>
		</div>

		<div class="ml-auto flex items-center gap-2 text-sm">
			<div class="flex items-center rounded-full bg-gray-100">
				<div class="flex items-center rounded-l-full px-4 py-2">
					<ThumbsUp class="mr-2 h-4 w-4" />
					3.7K
				</div>
				<div class="h-6 w-px bg-gray-300"></div>
				<div class="flex items-center rounded-r-full px-4 py-2">
					<ThumbsDown class="h-4 w-4" />
				</div>
			</div>

			<div class="hidden rounded-full px-4 py-2 md:items-center md:gap-2 lg:flex">
				<Share2 class="h-4 w-4" />
				Share
			</div>

			<div class="flex items-center gap-2 rounded-full px-4 py-2">
				<Download class="h-4 w-4" />
				Download
			</div>

			<div class="rounded-full p-2">
				<MoreVertical class="h-4 w-4" />
			</div>
		</div>
	</div>

	<Card.Root class="border-none bg-gray-100 p-4 shadow-none">
		<div class="mb-2 flex gap-2">
			<span>82,599 views</span>
			<span>Oct 23, 2023</span>
		</div>

		<div class="flex flex-col gap-y-4 text-sm">
			<p>💠 ভালো ডেভেলপার হতে চাই? শিখুন এই 10টি স্কিল! 💠</p>

			<p>একজন দক্ষ ডেভেলপার হতে গেলে কোন কোন স্কিল লাগবে? 💻🔥</p>

			<p>
				এই ভিডিওতে আমি আলোচনা করেছি 10টি গুরুত্বপূর্ণ স্কিল, যা একজন প্রোগ্রামার হিসেবে তোমার
				ক্যারিয়ারকে অনেক দূর এগিয়ে নিয়ে যাবে! 🚀
			</p>

			<div class="flex flex-col gap-y-2">
				<p>🚀 কভার করা টপিকসমূহ:</p>
				<ul class="flex flex-col gap-y-1">
					<li class="flex items-center gap-2">
						<CheckCircle class="h-4 w-4 text-green-600" />
						প্রোগ্রামিং নলেজ 💻
					</li>
					<li class="flex items-center gap-2">
						<CheckCircle class="h-4 w-4 text-green-600" />
						ফ্রেমওয়ার্ক মাস্টারি 🔨
					</li>
					<li class="flex items-center gap-2">
						<CheckCircle class="h-4 w-4 text-green-600" />
						প্রব্লেম সলভিং 🧠
					</li>
					<li class="flex items-center gap-2">
						<CheckCircle class="h-4 w-4 text-green-600" />
						গিট/গিটহাব ব্যবহার 💡
					</li>
					<li class="flex items-center gap-2">
						<CheckCircle class="h-4 w-4 text-green-600" />
						ডিবাগিং ও টেস্টিং ⚒️
					</li>
					<li class="flex items-center gap-2">
						<CheckCircle class="h-4 w-4 text-green-600" />
						সার্ভার ও ডাটাবেজ জ্ঞান 📊
					</li>
					<li class="flex items-center gap-2">
						<CheckCircle class="h-4 w-4 text-green-600" />
						সফট স্কিলস ✍️
					</li>
				</ul>
			</div>

			<div class="relative flex flex-wrap items-center gap-2 py-2">
				ভিডিওটি ভালো লাগলে আমাকে কফি খাওয়াতে পারেন।
				<a
					href="https://hobenakicoffee.com/abdur-rahman"
					class="flex gap-2 break-words text-blue-600 hover:underline"
				>
					https://hobenakicoffee.com/abdur-rahman
				</a>
				<div
					class="absolute left-[11rem] top-[-4rem] h-16 w-16 rotate-180 text-primary lg:-top-[4.8rem] lg:h-20 lg:w-20"
				>
					<SwirlyScribbledArrow />
				</div>
				<div
					class="absolute -top-32 left-[16rem] hidden max-w-[230px] text-xl font-semibold sm:block lg:left-[17rem] lg:text-2xl"
				>
					"{LL.landingPage.howItIsBeingUsed.youtube.hint()}"
				</div>
			</div>

			<div class="flex flex-wrap gap-2">
				<Badge variant="secondary">#Programming</Badge>
				<Badge variant="secondary">#DeveloperSkills</Badge>
				<Badge variant="secondary">#CareerGrowth</Badge>
			</div>
			<div>...</div>
		</div>
	</Card.Root>
</div>
