---
import { LL } from '@utils/i18n';

import Layout from '@layouts/Layout.astro';
import TermsBn from '@components/terms-and-conditions/bn.astro';

export const prerender = 'true';
---

<Layout
	title={LL.pageTermsAndConditions.title()}
	description={LL.pageTermsAndConditions.description()}
	keywords={LL.pageTermsAndConditions.keywords()}
>
	<main class="mx-auto mb-24 max-w-5xl px-6 lg:px-8">
		<div class="prose lg:prose-lg max-w-4xl">
			<section id="terms-bengali" class="pt-10">
				<TermsBn />
			</section>
		</div>
	</main>
</Layout>
