---
import { Button } from '$lib/components/ui/button/index.js';

import { LL } from '@utils/i18n';
---

<section class="w-full px-4 py-12 md:py-32">
	<div class="flex flex-col items-center justify-between gap-6 md:flex-row">
		<h2
			set:html={LL.landingPage.callToAction.title()}
			class="text-center text-3xl font-semibold tracking-tight md:text-left md:text-5xl md:leading-tight"
		/>
		<Button href={import.meta.env.PUBLIC_SIGN_UP_PAGE_URL} size="2xl">
			{LL.landingPage.callToAction.getStarted()}
		</Button>
	</div>
</section>
